{% comment %}
Astronomy workshops
{% endcomment %}


{% comment %}
All other workshops
{% endcomment %}

{% if site.curriculum == "bioc-rna" %}

<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>

    The following prerequisites apply:

    <ul>

      <li>Familiarity with R/Bioconductor, such as taught
      in <a href="https://carpentries-incubator.github.io/bioc-intro/">Introduction
      to data analysis with R and Bioconductor</a> lesson.</li>

      <li>Familiarity with statistical hypothesis testing, such
      as <a href="https://web.stanford.edu/class/bios221/book/06-chap.html">Chapter
      6</a> of Modern Statistics for Modern Biology book by Holmes and
      Huber.</li>

      <li>Familiarity with the biology of gene expression and RNA-seq, such as
      <a href="https://pubmed.gov/31341269">RNA sequencing: the
      teenage years</a> manuscript by Hadfield et.al.

    </ul>

</p>

{% endif %}
