{% comment %}
Astronomy workshops
{% endcomment %}


{% comment %}
All other workshops
{% endcomment %}

{% else %}

<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>

    The following prerequisites apply for this workshop:

    <ul>

      <li>Familiarity with R/Bioconductor, especially
      the <a href="https://carpentries-incubator.github.io/bioc-intro/23-starting-with-r.html">Introduction
      to R</a> episode
      of <a href="https://carpentries-incubator.github.io/bioc-intro/20-r-rstudio.html">Introduction
      to data analysis with R and Bioconductor</a> lesson.</li>

      <li>Familiarity with statistical hypothesis testing, such
      as <a href="https://web.stanford.edu/class/bios221/book/06-chap.html">Chapter
      6</a> of Modern Statistics for Modern Biology book by Holmes and
      Huber.</li>

      <li>Familiarity with the biology of gene expression and RNA-seq, such as
      <a href="https://pubmed.gov/31341269">RNA sequencing: theteenage
      years</a> manuscript by Hadfield et.al.

    </ul>

</p>

{% endif %}
